/* Start Header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #e8e7e7;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 72px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--main-color-alt);
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 1px #e8e7e7
}

.header .nav-bar .section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    color: black;
    font-weight: 600;
    cursor: pointer;
    max-height: 72px;
    transition: var(--main-transition);
}

.header .nav-bar > .section:hover{
    background-color: #fafafa;
    border-radius: 10px;
}
.header .nav-bar > .section::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: var(--main-transition);
}
.header .nav-bar > .section:hover::before{
    background-color: var(--main-color);
    border-radius: 1px;
}

.btn{
    color: white;
    background-color: var(--input-focus-color);
    margin: 0px 20px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
    box-shadow: inset 1px 3px 5px #185abc;
}
.header .nav-bar .section a{
    color: black;
}
.header .nav-bar .btn a{
    color: white;
}
/* End Header */
